################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestResults
/.vs
/FlightsInfo/bin
/FlightsInfoTests/bin/Debug
/packages
