@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

    <p>
        This little application lets the user manage a data base of flights and get extra information about them.
    </p>
    <p>
        The user can Create a new flight, Edit/Delete the entered flights and get extra Details about them (distance to travel, fuel consumption).
    </p>
    <p>
        A report page is provided with a summary of all entered flights.
    </p>
</p>
